
/* SIFIRLAMA İŞLEMİ */ 

*{

margin:0;
padding: 0;
box-sizing: border-box; /* HER VERİLEN BORDERDA BACKGROUND'IN GENİŞLEMESİNİ ÖNLEMEK İÇİN */

}

:root{
    --ana-renk: rgb(38, 137, 145); 
}


/* HEADER BAŞLANGIÇ */ 

header{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

header .title{
    display: flex;
    align-items: center;
    gap: 15px;  /* NESNELER ARASI BOŞLUK VERMEK İÇİN KULLANDIK */
}
header .title h1{
    color: gray;
}
header .title h1 span{
    color: var(--ana-renk);
}
header .title a{
    font-size: 50px;
    color: var(--ana-renk);
}

/*! YÖNLENDİRME İŞLEMLERİ */ 

header nav ul{
    display: flex;
    gap: 20px;
    
}
header nav ul a{
    text-decoration: none;
    color: gray;
}

header nav ul a i{
    color: var(--ana-renk);
}


header nav ul a:hover{
    color: var(--ana-renk);
}

/*! YÖNLENDİRME İŞLEMLERİ */

/* HEADER BİTİŞ */ 



/** SECTION BASLANGIC */

section{
    display: flex;
    align-items: center;
    height: 90vh;
    width: 100%;
    padding: 15px;

}

section .sec-left{
    text-align: center;
    flex: 1;  /* İKİ NESNE ORTAK ŞEKİLDE ALAN KAPLASIN */
    /* flex-basis: 45%;  GENİŞLİĞİN 45% SİNİ KAPLA */
}

section .images{
    flex: 1;   /* İKİ NESNE ORTAK ŞEKİLDE ALAN KAPLASIN */
    /* flex-basis: 45%; GENİŞLİĞİN 45% SİNİ KAPLA */
}

section .sec-left h1{
    font-size: 35px;
    color: gray;
    margin-bottom: 25px;
}

section .sec-left h1 span{
    color: var(--ana-renk);
}

section .sec-left p{
    font-size: 16px;

}

section button{
    padding: 5px 10px;
    border: none;
    background-color: var(--ana-renk);
    color: white;
    border-radius: 5px;
    font-size: 15px;
    margin-top: 15px;
    cursor: pointer;

}

section button:hover{
scale: 1.2;
transition: all .5s;
}


/** SECTION BİTİŞ */


/*! COURSE INFO BAŞLANGIÇ */

.course-info{
    display: flex;
    align-items: center;
    text-align: center;
    background-color: rgba(48, 137, 145, 0.55);
    padding: 15px;
    height: 40vh;
    width: 100%;
    position: relative;
}
.p-sec, .image-sec{
    flex: 1;
}

.image-sec img{
    width: 400px;
}

.course-info .p-sec h1{
    background-color: var(--ana-renk);
     padding: 10px;
     width: 55%;
     position: absolute;
     top: -30px;
     border-bottom-right-radius: 60px;
     border-bottom-left-radius: 5px;
     color: aliceblue;

}
.course-info .p-sec p{
    font-size: 20px;
    color: aliceblue;
}

.course-info .p-sec button{
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: var(--ana-renk);
    color:white;
    margin-top: 20px;
    cursor: pointer;
    
}

/*! COURSE INFO BAŞLANGIÇ */

.container{
    display: grid;
    place-items: center;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    height: 100vh;
    margin-top: 50px;
    
}


.container .card{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    text-align: center;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;

}

.container .card img{
    background-color: rgba(128, 128, 128, 0.297);
    border-radius: 50%;
}

.container .card .card-info h2{
    background-color: var(--ana-renk);
    color: white;
    border-radius: 10px;
    margin: 15px 15px;
}


.container .card .card-info p {
    color: gray;
    font-size: 15px;
    margin-bottom: 15px;
  }

  .container .card .card-into button {
    background-color: var(--ana-renk);
    padding: 3px;
    border: none;
    border-radius: 5px;
    color: white;
    margin-bottom: 15px;
  }


/*? FOOTER BAŞLANGIÇ */ 

footer{
    padding: 20px;
    margin-top: 100px;
    border-top: 1px solid var(--ana-renk);
}
footer .footer-start{
    display: grid;
    grid-template-columns: repeat(3, 1fr);     /*  grid-template-columns: repeat(1fr, 1fr, 1fr); */ 
    place-items: center;  /* ORTALAMA  İÇİN KULLANDIK */     
} 
footer .footer-start .footer-area{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
footer .footer-start .footer-area a{
    text-decoration: none;
    color: gray;

}
footer .bottom{
    text-align: center;
    margin-top: 50px;
    border-top: 1px solid var(--ana-renk);
    padding: 20px;
}

/*? FOOTER  BİTİŞ */